{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-2"></div>
		<div class="col-md-10 padding-none">
			<h1>Image Captioning Autocompletion</h1>
		</div>
	</div>

	<div class="row padding-top padding-bottom">
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<h2>Translation with Update:</h2>
				<h3>{{image.translation_Update}}</h3>
                <div>
                    <h4>METEOR: {{"%.4f"%image.evalcap_Update['METEOR']}}</h4>
                    <h4>Bleu_4: {{"%.4f"%image.evalcap_Update['Bleu_4']}}</h4>
                    <h4>Bleu_3: {{"%.4f"%image.evalcap_Update['Bleu_3']}}</h4>
                    <h4>Bleu_2: {{"%.4f"%image.evalcap_Update['Bleu_2']}}</h4>
                    <h4>Bleu_1: {{"%.4f"%image.evalcap_Update['Bleu_1']}}</h4>
                    <h4>CIDEr: {{"%.4f"%image.evalcap_Update['CIDEr']}}</h4>
                </div>
			</div>
			<div class="col-md-3">
				<h2>Translation w/o Update:</h2>
				<h3>{{image.translation_noUpdate}}</h3>
                <div>
                    <h4>METEOR: {{"%.4f"%image.evalcap_noUpdate['METEOR']}}</h4>
                    <h4>Bleu_4: {{"%.4f"%image.evalcap_noUpdate['Bleu_4']}}</h4>
                    <h4>Bleu_3: {{"%.4f"%image.evalcap_noUpdate['Bleu_3']}}</h4>
                    <h4>Bleu_2: {{"%.4f"%image.evalcap_noUpdate['Bleu_2']}}</h4>
                    <h4>Bleu_1: {{"%.4f"%image.evalcap_noUpdate['Bleu_1']}}</h4>
                    <h4>CIDEr: {{"%.4f"%image.evalcap_noUpdate['CIDEr']}}</h4>
                </div>
			</div>
			<div class="col-md-3">
				<img src="{{image.name}}" align="middle">
			</div>
			<div class="col-md-3">
				<h2>Reference:</h2>
				<h3>{{image.ground_true}}</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3 padding-top">
				<form action="#" method = "post">
					<div class="form-group">
						<label for="name">Hints:</label>
						<input type ="text" maxlength="100" class="form-control" name="hint">
					</div>
					<button type="submit" class="btn btn-default" id="submit" type="submit">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Translate Again</button>
				</form>
			</div>
		</div>

		
	</div>

{% endblock %}
