{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item active" aria-current="page">Home</li>
	  </ol>
	</nav>
	<div class="container">

        <div class="row">
		    <div class="col-md-3">
				<a href = "{{url_for('selectImage')}}">
					<div class="row">
						<div class="col-md-1"></div>
							<div class="col-md-10 course-list">
								<h3>Sentence Autocompletion</h3>
							</div>
						<div class="col-md-1"></div>
					</div>
				</a>

				<a href = "#">
					<div class="row">
						<div class="col-md-1"></div>
							<div class="col-md-10 course-list">
								<h3>Next Word</h3>
							</div>
						<div class="col-md-1"></div>
					</div>
				</a>

				<a href = "#">
					<div class="row">
						<div class="col-md-1"></div>
							<div class="col-md-10 course-list">
								<h3>Paragraph Autocompletion</h3>
							</div>
						<div class="col-md-1"></div>
					</div>
				</a>				
			</div>
            <div class="col-md-9">
                <h4 class="padding-bottom-19">Latest Items</h4>
                
            </div>

        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->



{% endblock %}
