{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="{{url_for('showDemos')}}">Home</a></li>
	    <li class="breadcrumb-item"><a href="{{url_for('selectImage')}}">Select</a></li>
	    <li class="breadcrumb-item active" aria-current="page">{{image.name}}</li>
	  </ol>
	</nav>

	<div class="container">
		<div class="row">
		<div class="col-md-4"></div>
			<img src="{{image.path}}" align="middle">
		</div>

		<div class="col-md-10 padding-none">
			<a href="{{url_for('extractFeature',image_id=image.id)}}">
				<button class="btn btn-default">
					<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>Test
				</button>
			</a>
		</div>
		
	</div>
{% endblock %}
